
body {
    margin: 20px;
    font-family: Georgia, serif;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0645AD;
    font-size: 22px;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
audio {
    width: 40%;
    margin: 15px 20px 15px 0;
    border-radius: 40px;
    background: #f1f4f6;
    padding: 10px;
}
